/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 400px;
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /* Elevate the container */
    text-align: center;
}

header {
    text-align: center;
    background-color: #0074cc;
    color: white;
    padding: 20px 0;
}

header img {
    width: 100px;
}

#contact, #services {
    margin: 20px 0;
}

#services ul {
    list-style: none;
}

#services ul li {
    margin-bottom: 10px;
}

footer {
    text-align: center;
    background-color: #0074cc;
    color: white;
    padding: 10px 0;
}
